<div class="container home-container">
  <div class="row" id="form-article">
    <h1>Sign up</h1>
    <br>
    <br>
    <br>
    <br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field input-group mb-3">
      <%= f.label :name, class: "btn btn-outline-secondary", type: 'button' %><br/>
      <%= f.text_field :name, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="field input-group mb-3">
      <%= f.label :email, class: "btn btn-outline-secondary", type: 'button' %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="field input-group mb-3">
      <% minimum_characters = @minimum_password_length if @minimum_password_length
         minimum_characters = minimum_characters.to_s
         minimum_characters += ' characters minimum' %>
      <%= f.label :password, class: "btn btn-outline-secondary", type: 'button'%>

      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: minimum_characters %>
    </div>

    <div class="field input-group mb-3">
      <%= f.label :password_confirmation, class: "btn btn-outline-secondary", type: 'button' %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'repeat password' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-outline-success' %>
    </div>
    <br>
  <% end %>

  <div class="actions">
    <%= render "devise/shared/links" %>
  </div>

</div>
</div>
