<h1>Articles</h1>

<li>Our blog has:
  <ul><%= Article.public_count %> public articles.</ul>
  <ul><%= Article.private_count %> private articles.</ul>
  <ul><%= Article.archived_count %> archived articles.</ul>
  <ul><%= Article.nil_count %> articles without status.</ul>
  and counting!
</li>

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
