<div class="container home-container">
  <div class="row" id="form-article">
    <h1>Log in</h1>
    <br>
    <br>
    <br>
    <br>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field input-group mb-3">
      <%= f.label :email, class: "btn btn-outline-secondary", type: 'button' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <br>
    <div class="field input-group mb-3">
      <%= f.label :password, class: "btn btn-outline-secondary", type: 'button' %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <h6><%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me %>
        </h6>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-outline-success' %>
    </div>
    <br>
  <% end %>

  <div class="actions">
    <%= render "devise/shared/links" %>
  </div>

</div>
</div>
