<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid" id="container-body">

      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand"></a>
            <a class="navbar-brand"></a>
            <a class="navbar-brand">Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="<%= root_path %>">
                    <i class="fas fa-home"></i>
                    Home</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-folder-open"></i>
                    Articles
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                      <a class="dropdown-item" href="<%= articles_path %>">
                        <i class="fas fa-search-plus"></i>
                        View all articles</a>
                    </li>
                    <%if user_signed_in? %>
                      <li>
                        <a class="dropdown-item" href="<%= user_my_articles_path(current_user) %>">
                          <i class="fas fa-file-powerpoint"></i>
                          View my articles</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="<%= new_article_path %>">
                          <i class="fas fa-file-medical"></i>
                          Create an article</a>
                      </li>
                    <% end %>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="<%= users_path %>">
                    <i class="fas fa-users"></i>
                    Users
                  </a>
                </li>
              </ul>
              <form class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      &nbsp&nbsp&nbsp<%if user_signed_in? %>
                        <%= current_user.name %>
                      <% else %>
                        Authenticate
                      <% end %>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li>
                        <% if user_signed_in? %>
                          <%= link_to "My profile", user_my_profile_path(current_user), class: 'dropdown-item item-link'%>
                          <%= link_to "Account Settings", edit_user_registration_path, class: 'dropdown-item item-link'%>
                          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:'dropdown-item item-link' %>
                        <% else %>
                          <%= link_to "Log in", new_user_session_path, class: 'dropdown-item item-link'%>
                          <%= link_to "Sign up", new_user_registration_path, class: 'dropdown-item item-link'%>
                        <% end %>
                      </li>
                    </ul>
                  </li>
                </ul>
              </form>
            </div>
          </nav>
        </header>

        <%= yield %>

        <footer>
          <div class="container-fluid bg-dark text-white footer">
            <nav class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-1" id="item-footer">
                <a href="https://github.com/juliansg022" target="_blank">
                  <i class="fab fa-github fa-3x"></i>
                </a>
              </div>
              <div class="col-sm-1" id="item-footer">
                <a href="mailto:julian.sanchez.kommit@gmail.com" target="_blank">
                  <i class="fas fa-envelope fa-3x"></i>
                </a>
              </div>

              <div class="col-sm-1"></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-1"></div>
            </nav>
          </div>
        </footer>
      </div>
    </body>
  </html>
